@import "compass/css3";
@import "bootstrap";

$pink: #C6538C;
$blue: #669999;

::-webkit-scrollbar {
	width: .5em;
	height: .35em;
}

::-webkit-scrollbar-thumb {
	background: #aaa;
}

::-webkit-scrollbar-track {
	background: rgba(217,217,217,0.5);
}

body {
	font: 1.6em/1.35 'Ubuntu', 'Helvetica', sans-serif;
	color: #555;
}

a {
	color: #a3c2c2;

	&:hover {
		color: #669999;
	}
}

.glyphicon-play {
	color: rgba(102, 153, 153, 0.3);
	padding-left: 1em;
	font-size: .8em;
}

code {
	color: $pink;
}

ul {
	list-style: square;
}

pre {
	border: none;
	border-left: .3em solid silver;
	border-radius: 0;
}

section {
	padding-bottom: 2.5em;
}

.alert {
	padding: .5em;
}

.navbar {
	border-radius: 0;
	background: #c6538c;
	border-bottom: 0.5em solid #f2d9e6;
}
.navbar a {
	color: white !important;
}

.navbar-nav > li > a:hover {
	background: none;
	color: #669999 !important;
}

.jumbotron {
	background: none;

	@media (max-width: 992px) { 
		padding: 0;

		.btn {
    		display: block;
    		margin-bottom: .5em;
		}
	}
}

.footer {
	background: #EFEFEF;
	padding: 1.5em 0 1em 0;

	li {
		margin-left: .5em;
	}

	@media (max-width: 992px) {
		p,
		ul,
		li {
	    	float: none !important;
		}

		ul,
		p {
	    	text-align: center;
		}

		li {
	    	display: inline-block;
		}
	}
}


.function {
	margin-bottom: 5em; 
  
	h3 {
		color: $blue;
		text-transform: uppercase;
		font-size: 1em;
	}
}

.function-name {
	margin-bottom: .5em;
}

.function-code {
	padding: 1em;
	border-left: .3em solid $pink;
	background: #EFEFEF;
	margin-bottom: 1em;

	pre {
		background: none;
		padding: 0;
		border: none;
		float: left;
		margin: 0;  
	}
}

.function-arguments {
	td, th {
		padding-left: 0 !important;
	}
}

.glyphicon-play {
    color: rgba($blue, .3);
    padding-left: 1em;
    font-size: .8em;
}

.sidebar {
	width: 220px;
 	margin-top: 1.25em;

	@media (min-width: 992px) {
		position: fixed;
	}
}

.sidebar-heading {
	margin-top: 0;
	margin-bottom: 1em;
}

/* By default it's not affixed in mobile views, so undo that */
.sidebar.affix {
	position: static;
}

/* All levels of nav */
.sidebar-nav {
	margin-bottom: 30px;
	padding-top:    10px;
	padding-bottom: 10px;
	text-shadow: 0 1px 0 #fff;
	background-color: #f7f5fa;

	@media (max-height: 860px) {
		max-height: 540px;
		overflow: auto;
	}

	> li > a {
		display: block;
		color: #716b7a;
		padding: 5px 20px;

		&:focus,
		&:hover {
			text-decoration: none;
			background-color: #e5e3e9;
			border-left: 3px solid $blue;
		}
	}

	.active,
	.active:hover,
	.active:focus {
		 > a {
			font-weight: bold;
			color: $blue;
			background-color: transparent;
			border-left: 3px solid $blue;
		}
	}
}

.navbar {
	border-radius: 0;
	background: $pink;
	border-bottom: .5em solid lighten($pink, 35%);

	a {
		color: white;
	}
}

.navbar-nav > li > a:hover {
  background: none;
  color: $blue;
}


