/**
 * Returns first element of $list
 * -------------------------------------------------------------------------------
 * @example first( (a, b, c) ) => a
 * @example first( a )         => a
 * -------------------------------------------------------------------------------
 * @param $list [List] : list
 * -------------------------------------------------------------------------------
 * @return [Literal]
 */
@function first($list) {
  @return nth($list, 1);
}