@include describe("The sl-debug") {
  @include it("should return list as a string") {
    @include should(expect( sl-debug( 1 2 3 4 5 ) ), to( equal( ("[ 1, 2, 3, 4, 5 ]") ) ));
    @include should(expect( sl-debug( "a" "b" "c" "d" "e" "f" ) ), to( equal( ("[ a, b, c, d, e, f ]") ) ));
  }

  @include it("should return nested list as a string") {
    @include should(expect( sl-debug( 1 2 (3 4 (5 6)) ) ), to( equal( "[ 1, 2, [ 3, 4, [ 5, 6 ] ] ]" ) ));
    @include should(expect( sl-debug( "a" "b" ("c" "d") "e" "f" ) ), to( equal( "[ a, b, [ c, d ], e, f ]" ) ));
  }
}
