// Chunks $list into $size large lists
// -------------------------------------------------------------------------------
// @documentation http://sassylists.com/documentation/#chunk
// -------------------------------------------------------------------------------
// @example chunk(a b c d e, 2) => a b, c d, e
// @example chunk(a b c d e, 3) => a b c, d e
// -------------------------------------------------------------------------------
// @param $list [List] : list
// @param $size [Number] : length of lists
// -------------------------------------------------------------------------------
// @return [List]

@function chunk($list, $size) {
    @if $size >= length($list) {
        @return $list;
    }

    $n-lists: ceil(length($list) / $size);
    $tmp-index: 0;
    $result: ();

    @for $i from 1 through $n-lists {
        $tmp-list: ();

        @for $j from 1 + $tmp-index through $size + $tmp-index {
            @if $j <= length($list) {
                $tmp-list: append($tmp-list, nth($list, $j));
            }
        }

        $result: append($result, $tmp-list);
        $tmp-index: $tmp-index + $size;
    }

    @return $result;
}
