// Explode $string into a list using $break as a breaker
// -------------------------------------------------------------------------------
// @documentation http://sassylists.com/documentation/#explode
// -------------------------------------------------------------------------------
// @example explode("a b c d e", " ") => a, b, c, d, e
// -------------------------------------------------------------------------------
// @param $string [String] : string to explode
// @param $separator [String] : string to use as the breaker
// @param $private [List] : private variable storing current state of list
// -------------------------------------------------------------------------------
// @raise [Error] if either argument is not a string
// -------------------------------------------------------------------------------
// @return [List]

@function explode($string, $separator, $private: ()) {
    @if type-of($string) != "string" {
        @warn "`explode` function expecting a string; #{type-of($string)} given.";
        @return false;
    }

    @if type-of($separator) != "string" {
        @warn "`explode` function expecting a string; #{type-of($separator)} given.";
        @return false;
    }

    $result: $private;
    $remaining: $string;
    $index: str-index($string, $separator);

    @if $index > 0 {
        $result: append($result, str-slice($string, 1, $index - 1));
        $remaining: str-slice($string, $index + str-length($separator));
        @return explode($remaining, $separator, $result);
   } 

   @return append($result, $remaining);
}
