// Turns multidimensional `$list` into a one-level list.
//
// @ignore Documentation: http://sassylists.com/documentation.html#flatten
//
// @param {List} $list - list to flatten
//
// @return {List}

@function sl-flatten($list) {
  $result: ();

  @if length($list) == 1 {
    @return $list;
  }

  @each $item in $list {
    @if length($item) > 1 {
      $flatten: sl-flatten($item);
      @each $i in $flatten {
        $result: append($result, $i, list-separator($list));
      }
    }

    @else {
      $result: append($result, $item, list-separator($list));
    }
  }

  @return $result;
}

// @alias sl-flatten

@function sl-unfold($list) {
    @return sl-flatten($list);
}