// Turns multidimensional `$list` into a one-level list.
//
// @ignore Documentation: http://sassylists.com/documentation.html#flatten
//
// @param {List} $list - list to flatten
// 
// @requires sl-is-empty
// @requires sl-is-single
// 
// @return {List}

@function sl-flatten($list) {
  @if sl-missing-dependencies(sl-is-single, sl-is-empty) == true { @return null; }

  $result: ();

  @if sl-is-single($list) {
    @return $list;
  }

  @each $item in $list {
    @if not sl-is-empty($item) and not sl-is-single($item) {
      $flatten: sl-flatten($item);
      @each $i in $flatten {
        $result: append($result, $i, list-separator($list));
      }
    }

    @else {
      $result: append($result, $item, list-separator($list));
    }
  }

  @return $result;
}

// @alias sl-flatten

@function sl-unfold($list) {
    @return sl-flatten($list);
}