// Returns a list of shared value from `$list` and `$lists` minus duplicates.
//
// @ignore Documentation: http://sassylists.com/documentation/#intersection
//
// @requires sl-remove-duplicates
//
// @param {List}    $list  - first list
// @param {ArgList} $lists - other lists
//
// @return {List}

@function sl-intersection($list, $lists...) {
  @if sl-missing-dependencies(sl-remove-duplicates) == true { @return null; }

  $result: $list;

  @each $list in $lists {
    $temp: ();

    @each $item in $result {
      @if not not index($list, $item) {
        $temp: append($temp, $item, list-separator($list));
      }
    }

    $result: $temp;
  }

  $result: sl-remove-duplicates($result);
  @return if(length($result) == 1, nth($result, 1), $result);
}