// Returns a list of shared value from `$list` and `$lists` minus duplicates.
//
// @ignore Documentation: http://sassylists.com/documentation.html#sl-intersection
//
// @requires sl-remove-duplicates
// @requires sl-first
// @requires sl-is-single
//
// @param {List}    $list  - first list
// @param {ArgList} $lists - other lists
//
// @return {List}

@function sl-intersection($list, $lists...) {
  @if sl-missing-dependencies(sl-remove-duplicates, sl-first, sl-is-single) == true { @return null; }

  $result: $list;

  @each $list in $lists {
    $temp: ();

    @each $item in $result {
      @if not not index($list, $item) {
        $temp: append($temp, $item, list-separator($list));
      }
    }

    $result: $temp;
  }

  $result: sl-remove-duplicates($result);
  
  @return if(sl-is-single($result), sl-first($result), $result);
}