// Shift indexes from $list of $value
// -------------------------------------------------------------------------------
// @documentation http://sassylists.com/documentation/#loop
// -------------------------------------------------------------------------------
// @alias `shift-indexes()`
// -------------------------------------------------------------------------------
// @param $list [List] : list
// @param $value [Number] : number of position between old and new indexes
// -------------------------------------------------------------------------------
// @return [List]

@function loop($list, $value: 1) {
  $result: ();
  $length: length($list);

  @for $i from 0 to $length {
    $result: append($result, nth($list, ($i - $value) % $length + 1), list-separator($list));
  }

  @return $result;
}

// Alias
@function shift-indexes($list, $value: 1) {
  @return loop($list, $value);
}