// Sort map based on keys
// -------------------------------------------------------------------------------
// @documentation http://sassylists.com/documentation/#map-sort-keys
// -------------------------------------------------------------------------------
// @alias `map-order-keys()`
// -------------------------------------------------------------------------------
// @example map-sort-keys((d: 2, b: 3, c: 2, a: 4), 2) => (a: 4, b: 3, c: 2, d: 2)
// -------------------------------------------------------------------------------
// @param $map [Map] : map 
// -------------------------------------------------------------------------------
// @dependence `sort()`
// -------------------------------------------------------------------------------
// @return [Map]

@function map-sort-keys($map) {
    @if type-of($map) != map {
        @warn "Expecting map for `map-sort-keys`; #{type-of($map)} given.";
        @return false;
    }

    @else {
        $missing-dependencies: dependencies("sort");

        @if not $missing-dependencies {
            $result: ();
          
            @each $key in sort(map-keys($map)) {
                $result: map-merge($result, ($key: map-get($map, $key)));
            }

            @return $result;
        }

        @else {
            @warn "#{$missing-dependencies} missing for `map-sort-keys`. Please make sure you're including all dependencies.";
            @return false;
        }
    }
}

// Alias
@function map-order-keys($map) {
    @return map-sort-keys($map);
}