// Removes value from $list at index $index
// -------------------------------------------------------------------------------
// @documentation http://sassylists.com/documentation/#remove-nth
// -------------------------------------------------------------------------------
// @dependence `replace-nth()`
// -------------------------------------------------------------------------------
// @example remove-nth(a b c,   2) => a, c
// @example remove-nth(a b c,   0) => error
// @example remove-nth(a b c,  -1) => a, b
// @example remove-nth(a b c,  10) => error
// @example remove-nth(a b c, -10) => error
// -------------------------------------------------------------------------------
// @param $list [List] : list
// @param $index [Number] : index to remove
// -------------------------------------------------------------------------------
// @raise [Error] if $index isn't an integer
// @raise [Error] if $index is 0
// @raise [Error] if abs value of $index is strictly greater then length of $list
// -------------------------------------------------------------------------------
// @return [List] | false

@function remove-nth($list, $index) {
  @return replace-nth($list, $index, "");
}