// Removes value(s) $value from $list
// -------------------------------------------------------------------------------
// @documentation http://sassylists.com/documentation/#remove
// -------------------------------------------------------------------------------
// @alias `without()`
// -------------------------------------------------------------------------------
// @dependence `replace()`
// -------------------------------------------------------------------------------
// @example remove(a b c,   b)       => a, c
// @example remove(a b c,   z)       => a, b, c
// @example remove(a b c b, b)       => a, c b
// @example remove(a b c b, b, true) => a, c
// -------------------------------------------------------------------------------
// @param $list [List] : list
// @param $value [Literal] : value to remove
// @param $recursive [Boolean] : enable / disable recursivity
// -------------------------------------------------------------------------------
// @return [List]

@function remove($list, $value, $recursive: false) {
    @return replace($list, $value, null, $recursive);
}

// Alias
@function without($list, $value, $recursive: false) {
    @return remove($list, $value, $recursive);
}