// Reverses the order of $list
// -------------------------------------------------------------------------------
// @documentation http://sassylists.com/documentation/#reverse
// -------------------------------------------------------------------------------
// @alias `mirror()`
// -------------------------------------------------------------------------------
// @example reverse(a b c)           => c, b, a
// @example reverse(a b (c a))       => c a, b, a
// @example reverse(a b (c a), true) => a c, b, a
// -------------------------------------------------------------------------------
// @param $list [List] : list
// @param $recursive [Boolean] : enable / disable recursivity
// -------------------------------------------------------------------------------
// @return [List]

@function reverse($list, $recursive: false) {
    $result: ();

    @for $i from length($list) * -1 through -1 {
        $item: nth($list, abs($i));

        @if length($item) > 1 and $recursive {
            $result: append($result, reverse($item, $recursive), list-separator($list));      
        }

        @else {
            $result: append($result, $item, list-separator($list));
        }
    }

    @return $result;
}

// Alias
@function mirror($list, $recursive: false) {
    @return reverse($list, $recursive);
}