// Reverses the order of $list
// -------------------------------------------------------------------------------
// @documentation http://sassylists.com/documentation/#reverse
// -------------------------------------------------------------------------------
// @alias `mirror()`
// -------------------------------------------------------------------------------
// @param $list [List] : list
// -------------------------------------------------------------------------------
// @return [List]

@function reverse($list) {
  @if length($list) == 1 {
    @return $list;
  }

  @for $i from 1 through floor(length($list)/2) {
    $tmp: nth($list, $i);
    $list: set-nth($list, $i, nth($list, -$i));
    $list: set-nth($list, -$i, $tmp);
  }
  
  @return $list;
}

// Alias
@function mirror($list) {
  @return reverse($list);
}