/**
 * Reverses the order of $list
 * -------------------------------------------------------------------------------
 * @doc http://sassylists.com/documentation.html#reverse
 * -------------------------------------------------------------------------------
 * @example reverse( (a, b, c) )         => c, b, a
 * @example reverse( (a, b, c a) )       => c a, b, a
 * @example reverse( (a, b, c a), true ) => a c, b, a
 * @example reverse( a )                 => a
 * -------------------------------------------------------------------------------
 * @param $list [List] : list
 * @param $recursive [Boolean] : enable / disable recursivity
 * -------------------------------------------------------------------------------
 * @return [List]
 */
@function reverse($list, $recursive: false) {
  $result: ();

  @for $i from length($list) * -1 through -1 {
    $item: nth($list, abs($i));

    @if length($item) > 1 and $recursive {
      $result: append($result, reverse($item, $recursive));      
    }

    @else {
      $result: append($result, $item);
    }
  }

  @return $result;
}