// Reverses the order of $list
// -------------------------------------------------------------------------------
// @documentation http://sassylists.com/documentation/#reverse
// -------------------------------------------------------------------------------
// @alias `mirror()`
// -------------------------------------------------------------------------------
// @param $list [List] : list
// -------------------------------------------------------------------------------
// @return [List]

@function reverse($list) {
  $length: length($list);
  $end: floor($length/2);

  @if $length < 2 {
    @return $list;
  }

  @for $i from 1 through $end {
    $tmp: nth($list, $i);
    $list: set-nth($list, $i, nth($list, -$i));
    $list: set-nth($list, -$i, $tmp);
  }

  @return $list;
}

// Alias
@function mirror($list) {
  @return reverse($list);
}