// Shuffle function using Fisher-Yates method
// -------------------------------------------------------------------------------
// @documentation http://sassylists.com/documentation/#shuffle
// -------------------------------------------------------------------------------
// @alias `randomize()`
// -------------------------------------------------------------------------------
// @param $list [List] : list
// -------------------------------------------------------------------------------
// @return [List]

@function shuffle($list) {
  $length: length($list);

  @if $length < 2 {
    @return $list;
  }

  @for $i from $length through 1 {
    $j: random($length - 1) + 1;
    $tmp: nth($list, $i);
    $list: set-nth($list, $i, nth($list, $j));
    $list: set-nth($list, $j, $tmp);
  }
  @return $list;
}

// Alias
@function randomize($list) {
  @return shuffle($list);
}
