// Shuffle `$list` using Fisher-Yates method.
//
// @ignore Documentation: http://sassylists.com/documentation.html#sl-shuffle
//
// @param {List} $list - list to shuffle
//
// @return {List}

@function sl-shuffle($list) {
  $length: length($list);

  @if $length < 2 {
    @return $list;
  }

  @for $i from $length through 1 {
    $j: random($length - 1) + 1;
    $tmp: nth($list, $i);
    $list: set-nth($list, $i, nth($list, $j));
    $list: set-nth($list, $j, $tmp);
  }
  
  @return $list;
}

// @alias sl-shuffle

@function sl-randomize($list) {
  @return sl-shuffle($list);
}
