// Sorts values of $list
// -------------------------------------------------------------------------------
// @documentation http://sassylists.com/documentation/#sort
// -------------------------------------------------------------------------------
// @alias `order()`
// -------------------------------------------------------------------------------
// @dependence `last()`
// @dependence `insert-nth()`
// @dependence `_compare()` (utils)
// -------------------------------------------------------------------------------
// @example sort(8 abc 10 true aab 7 bac !important 2.8 aaa 4 14px acc 590 aaa) 
// !important 2.8 4 7 8 10 14px 590 aaa aaa aab abc acc bac true
// -------------------------------------------------------------------------------
// @param $list [List] : list
// @param $matrix [List] : alphabetical order to follow
// -------------------------------------------------------------------------------
// @raise [Warning] if nested list found
// -------------------------------------------------------------------------------
// @return [List]

@function sort($list, $matrix: null) {
    $missing-dependencies: dependencies("compare", "insert-nth");

    @if not $missing-dependencies {

        $result: nth($list, 1);
        $matrix: if($matrix != null, $matrix, 
            " " "!" "\"" "#" "$" "%" "&" "'" "(" ")" "*" "+" "," "-" "." "/" ":" ";" "<" "=" ">" "?" "@" "[" "\\" "]" "^" "_"
            "0" "1" "2" "3" "4" "5" "6" "7" "8" "9" 
            "a" "b" "c" "d" "e" "f" "g" "h" "i" "j" "k" "l" "m" "n" "o" "p" "q" "r" "s" "t" "u" "v" "w" "x" "y" "z"
        );

        @for $i from 1 through length($list) {
            $item: nth($list, $i);

            @if length($item) == 1 {
                $index: 0;

                @for $j from 1 through length($result) {
                    @if compare($item, nth($result, $j), $matrix) {
                        $index: $j;
                    }
                }

                $result: insert-nth($result, $index + 1, $item);    
            }

            @else {
                @warn "List found. Omitted.";
            }
        }

        @return $result;
    }

    @else {
        @warn "#{$missing-dependencies} missing for `sort`. Please make sure you're including all dependencies.";
        @return false;
    }
}

// Alias
@function order($list, $matrix: null) {
    @return sort($list, $matrix);
}
