// Sorts numeric values of $list
// -------------------------------------------------------------------------------
// @documentation http://sassylists.com/documentation/#sort
// -------------------------------------------------------------------------------
// @alias `order()`
// -------------------------------------------------------------------------------
// @example sort(5 12 4.7 6 69 6)          => 4.7, 5, 6, 6, 12, 69
// @example sort(5 12 4.7 "8" 6 14px 69 6) => 4.7, 5, 6, 6, 12, 69
// -------------------------------------------------------------------------------
// @param $list [List] : list
// @param $ascending [Boolean] : ascending or descending
// -------------------------------------------------------------------------------
// @raise [Warning] if not-number found
// -------------------------------------------------------------------------------
// @return [List]

@function sort($list) {
    $less:  ();
    $equal: ();
    $large: ();
    $seed: ceil(length($list) / 2);

    @if length($list) > 1 {
        $seed: nth($list, $seed);

        @each $item in $list {
            @if comparable($seed, $item) {
                @if $item < $seed {
                    $less: append($less, $item);
                }

                @else if $item == $seed {
                    $equal: append($equal, $item);
                }

                @else {
                    $large: append($large, $item);
                }
            }

            @else {
                @warn "Not integer value found. Omitted.";
            }
        }

        @return join(join(sort($less), $equal), sort($large));
    }

    @return $list;
}

// Alias
@function order($list) {
    @return sort($list);
}
