// Sums up all numeric values in `$list`, stripping unit if `$force` set to `true`.
//
// @ignore Documentation: http://sassylists.com/documentation.html#sl-sum
//
// @param {List}    $list          - list
// @param {Bool} $force (false) - enable/disable parseInt
//
// @return {Number}

@function sl-sum($list, $force: false) {
  $result: 0;

  @each $item in $list {
    @if type-of($item) == number {

      @if $force and not unitless($item) {
        $item: $item / ($item * 0 + 1);
      }

      @if unitless($item) {
        $result: $result + $item;
      }

    }
  }

  @return $result;
}
