// Joins all elements of `$list` with `$glue`.
//
// @ignore Documentation: http://sassylists.com/documentation.html#sl-to-string
//
// @param {List}   $list      - list to cast
// @param {String} $glue ('') - value to use as a join string
//
// @requires sl-is-empty
// @requires sl-is-single
// 
// @return {String}

@function sl-to-string($list, $glue: '') {
  @if sl-missing-dependencies(sl-is-empty, sl-is-single) == true { @return null; }

  $result: '';
  $length: length($list);

  @for $i from 1 through $length {
    $item: nth($list, $i);
    $result: $result + if(not sl-is-empty($item) and not sl-is-single($item), sl-to-string($item, $glue), $item + $glue);
  }

  @return quote(str-slice($result, 1, str-length($glue) * -1 - 1));
}

// @alias sl-to-string

@function sl-stringify($list, $glue: '') {
  @return sl-to-string($list, $glue);
}