// Compares two values based on alphabetical order
// -------------------------------------------------------------------------------
// @private
// -------------------------------------------------------------------------------
// @usage sort()
// -------------------------------------------------------------------------------
// @param $a [Literal] : first value
// @param $b [Literal] : second value
// @param $matrix [List] : alphabetical order
// -------------------------------------------------------------------------------
// @return [Boolean]

@function _compare($a, $b, $matrix) {
	$a: to-lower-case($a + unquote(""));
	$b: to-lower-case($b + unquote(""));
	$min: min(str-length($a), str-length($b));

	@for $i from 1 through $min {
		$char-a: str-slice($a, $i, $i);
		$index-a: index($matrix, $char-a);
		@if not $index-a {
			$index-a: 1;
			@warn "#{$char-a} from #{$a} not found in matrix.";
		}

		$char-b: str-slice($b, $i, $i);
		$index-b: index($matrix, $char-b);
		@if not $index-b {
			$index-b: 1;
			@warn "#{$char-b} from #{$b} not found in matrix.";
		}

		@if $index-a != $index-b { @return $index-a > $index-b; }
	}

	@return str-length($a) > str-length($b);
}
