@include test('The sl-comma-list function') {
  $comma-list: sl-comma-list();
  $comma-list: append($comma-list, 'a');
  $comma-list: append($comma-list, 'b');

  @include assert-equal($comma-list, ( 'a', 'b' ), 'Should be comma separated.');
  @include assert-unequal($comma-list, ( 'a' 'b' ), 'Should be comma separated.');
  @include assert-equal(length(sl-comma-list()), 0, 'Should be empty.');
}
