/**
 * Add $value as first index of $list
 * -------------------------------------------------------------------------------
 * @example prepend( (a, b, c), z )   => z, a, b, c
 * @example prepend( (a, b, c), y z ) => y z, a, b, c
 * -------------------------------------------------------------------------------
 * @param $list [List] : list
 * @param $value [Literal] : value to prepend to the list
 * -------------------------------------------------------------------------------
 * @return [List]
 */
@function prepend($list, $value) {
  @if $value != "" and $value != null {
  	@return join($value, $list);
  }
  
  @return $list;
}