/**
 * Joins all elements of $list with $glue
 * -------------------------------------------------------------------------------
 * @example to-string( (a, b, c) )      => abc
 * @example to-string( (a, b, c), '-' ) => a-b-c
 * @example to-string( (a, b c, d) )    => abcd
 * -------------------------------------------------------------------------------
 * @param $list [List] : list
 * @param $glue [String] : value to use as a join string
 * @param $is-nested [Boolean] : strictly internal boolean for recursivity
 * -------------------------------------------------------------------------------
 * @return [String]
 */
@function to-string($list, $glue: '', $is-nested: false) {
  $result: null;

  @each $item in $list {
    @if type-of($item) == list {
      $result: $result#{to-string($item, $glue, true)};
    }

    @else {
      $condition: index($list, item) != length($list) or $is-nested;
      $result: if($condition, $result#{$item}#{$glue}, $result#{$item});
    }
  }

  @return $result;
}